/* style.css */

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Typography Classes */
.main-heading {
  text-align: center;
  margin: 40px 0;
  font-size: 2.5em;
  color: #35424a;
}

.section-title {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 5px;
}

.subheading {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 15px;
}

.paragraph {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Navigation Bar */
.navbar {
  background-color: #35424a;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar li {
  margin: 0;
}

.navbar a {
  display: block;
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #e8491d;
}

/* Footer */
.footer {
  background-color: #35424a;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Button Styles */
.button {
  background-color: #e8491d;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #cf3c13;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar a {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e8491d;
  }

  .footer {
    position: relative;
  }
}