/* style.css */

/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Style the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Navigation styles */
.navbar {
  background-color: #35424a;
  color: #ffffff;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0;
}

.navbar a {
  display: block;
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #e8491d;
  text-decoration: none;
}

/* Main content styles */
main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

/* Main heading style */
.main-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #35424a;
}

/* Section title and subheading styles */
.section-title {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 5px;
  margin-left: 20px;
}

.subheading {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 15px;
  margin-left: 20px;
}

/* Experience section styling */
.experience {
  margin-bottom: 40px;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

/* List styles within experience */
.experience ul {
  list-style-type: disc;
  margin-left: 40px;
  padding-left: 0;
}

.experience li {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Project section styling */
.project {
  margin-bottom: 40px;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

/* Paragraph styling within projects */
.project .paragraph {
  margin-left: 20px;
  margin-right: 20px;
}

/* Button styles */
.button {
  background-color: #e8491d;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.project .button {
  margin-left: 20px;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #cf3c13;
  text-decoration: none;
}

/* Footer styles */
.footer {
  background-color: #35424a;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {

  /* Navigation: Stack menu items vertically */
  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    text-align: left;
  }

  .navbar a {
    padding: 10px;
    border-bottom: 1px solid #e8491d;
  }

  /* Adjust experience section padding on mobile */
  .experience {
    padding: 0 10px;
  }

  /* Adjust project section padding on mobile */
  .project {
    padding: 0 10px;
  }

  /* Adjust margins for headings and paragraphs on mobile */
  .section-title,
  .subheading,
  .project .paragraph,
  .project .button {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Footer position adjustment for smaller screens */
  .footer {
    position: relative;
  }
}